TakeThatCastleDemo/Library/
TakeThatCastleDemo/Temp/
TakeThatCastleDemo/.vs/
TakeThatCastleDemo/obj/
TakeThatCastleDemo/Assembly-CSharp.csproj
TakeThatCastleDemo/Assembly-CSharp-Editor.csproj
TakeThatCastleDemo/Cinemachine.csproj
TakeThatCastleDemo/com.unity.cinemachine.editor.csproj
TakeThatCastleDemo/TakeThatCastleDemo.csproj
TakeThatCastleDemo/TakeThatCastleDemo.Editor.csproj
TakeThatCastleDemo/Unity.CollabProxy.Editor.csproj
TakeThatCastleDemo/Unity.Postprocessing.Editor.csproj
TakeThatCastleDemo/Unity.Postprocessing.Runtime.csproj
TakeThatCastleDemo/Unity.Rider.Editor.csproj
TakeThatCastleDemo/Unity.TextMeshPro.csproj
TakeThatCastleDemo/Unity.TextMeshPro.Editor.csproj
TakeThatCastleDemo/Unity.Timeline.csproj
TakeThatCastleDemo/Unity.Timeline.Editor.csproj
TakeThatCastleDemo/Unity.VSCode.Editor.csproj
TakeThatCastleDemo/UnityEditor.TestRunner.csproj
TakeThatCastleDemo/UnityEngine.TestRunner.csproj
